{% extends "layout.html.twig" %} 

{% block title %} Question {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container my-4">
        <div class="row flex-lg-nowrap">
            <div class="col px-0">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="e-profile">
                            <div class="row">
                                <div class="col-12 col-sm-auto mb-3">
                                    <div class="mx-auto" style="width: 140px">
                                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgba(255, 255, 255, 0)">
                                            <img loading="lazy" src="/assets/img/admin.svg" alt="admin" width="140px" height="140px"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                    <div class="text-center text-sm-left mb-2 mb-sm-0 px-0 col">
                                    {% if question.id matches '/^\\d+$/' %}
                                        <h4 class="pb-1 mb-0">
                                            Question <span class="text-primary ">{{ question.label }}</span>
                                        </h4>
                                        <small>Question n°{{ question.id }}</small>
                                    {% else %}
                                        <h4 class="pb-1 mb-0">
                                            Nouvelle question
                                        </h4>
                                    {% endif %}
                                    </div>
                                    <div class="text-center text-sm-right">
                                        <span class="badge badge-warning">Question</span>
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><div class="active nav-link">Informations</div></li>
                            </ul>
                            <div class="tab-content pt-3">
                                <div class="tab-pane active">
                                    <form class="form" novalidate="" action="{{ '/question/save/' ~ question.id }}" method="post">
                                        <div class="row mb-1">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            {% if errorsQuestion["label"] %}
                                                                <label for="label">Label</label>
                                                                <input class="form-control is-invalid" type="text" name="label" id="label" value="{{ question.label }}" />
                                                                <small class="text-danger">
                                                                    {{ errorsQuestion["label"][0] }}
                                                                </small>      
                                                            {% else %}
                                                                <label for="label">Label</label>
                                                                <input class="form-control" type="text" name="label" id="label" value="{{ question.label }}" />
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            {% if errorsQuestion["theme"] %}
                                                                <label for="js-data-fetch-theme">Thème</label>
                                                                <select class="form-control" id="js-data-fetch-theme" name="theme" >
                                                                    {% if selectedTheme.id matches '/^\\d+$/' %}
                                                                        <option value="{{ selectedTheme.id }}" selected="selected">{{ selectedTheme.name }}</option>
                                                                    {% endif %}
                                                                </select>
                                                                <small class="text-danger">
                                                                    {{ errorsQuestion["theme"][0] }}
                                                                </small>  
                                                            {% else %}
                                                                <label for="js-data-fetch-theme">Thème</label>
                                                                <select class="form-control" id="js-data-fetch-theme" name="theme">
                                                                    {% if selectedTheme.id matches '/^\\d+$/' %}
                                                                        <option value="{{ selectedTheme.id }}" selected="selected">{{ selectedTheme.name }}</option>
                                                                    {% endif %}
                                                                </select>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 mb-1">
                                                <div class="mb-2">
                                                    <b>Réponses Possibles</b>
                                                    {% if errorRightAnswer == 'true' %}
                                                     <small class="text-danger">La question doit avoir une seule et unique réponse vraie.</small> 
                                                    {% endif %}
                                                </div>
                                                {% include "question/answer.html.twig" with { 'number': 0, 'possibleAnswer': possibleAnswers[0], 'errors': errorsAnswers[0] } %}
                                                {% include "question/answer.html.twig" with { 'number': 1, 'possibleAnswer': possibleAnswers[1], 'errors': errorsAnswers[1]} %}
                                                {% include "question/answer.html.twig" with { 'number': 2, 'possibleAnswer': possibleAnswers[2], 'errors': errorsAnswers[2] } %}
                                                {% include "question/answer.html.twig" with { 'number': 3, 'possibleAnswer': possibleAnswers[3], 'errors': errorsAnswers[3] } %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col d-flex justify-content-end">
                                                <a class="btn btn-danger" type="submit" href="/questions">Annuler</a>
                                                {% if question.id matches '/^\\d+$/' %}
                                                    <button class="btn btn-primary ml-2" type="submit">Sauvegarder</button>
                                                {% else %}
                                                    <button class="btn btn-success ml-2" type="submit">Créer</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="/assets/js/paginateThemes.js"></script>
{% endblock %}

