{% extends "layout.html.twig" %}

{% block title %} Administration {% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column align-items-start">
    
    <div class="d-flex align-items-center justify-content-between w-100">
        <h1 class="mt-4 mb-4">Administration</h1>
        {% include 'pagination.html.twig' with {'tableName': 'admins'} %}
    </div>

    <div class="card mb-4 w-100">
        <div class="card-header d-flex align-items-center">
            <i class="fas fa-table mr-2"></i>
            Liste d'administrateurs
            <a type="button" class="btn btn-success ml-auto" href="/admin/new">Créer</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table m-0" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Date d'inscription</th>
                            <th scope="col" style="min-width: 250px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                        <tr id="tr{{ admin.id }}">
                            <th scope="row"><a href="{{ '/admin/' ~ admin.id }}">{{ admin.id }}</a></th>
                            <td>{{ admin.firstName }}</td>
                            <td>{{ admin.lastName }}</td>
                            <td>{{ admin.email }}</td>
                            <td>{{admin.registerAt|date("d/m/Y")}}</td>
                            <td class="text-center">
                                <a href="{{ '/admin/' ~ admin.id }}" type="button" class="btn btn-primary mx-1">Modifier</a><!--
                                -->{% if admin.id != session.id and admin.id != cookie.admin_id %}<button class="btn btn-danger mx-1" data-toggle="modal" data-target="#deleteModalCenter{{ admin.id }}">Supprimer</button>{% endif %}
                            </td>
                        </tr>
                            {% include 'modals/delete.html.twig' with { 'objectId' : admin.id, 'objectName' : admin.firstName, 'title' : 'Suppression d\'un administrateur'} %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="mb-4 ml-auto">
        {% include 'pagination.html.twig' with {'tableName': 'admins'} %}
    </div>
</div>
{% include 'toasts/success.html.twig' %}
{% include 'toasts/error.html.twig' %}
{% endblock %}

{% block js %}
    <script id="searcher" src="/assets/js/delete.js" data-className="admin"></script>
{% endblock %}
