<div class="row">
    <div class="col-12 col-sm-6 mb-1">
        <div class="mb-2">
            <b>Définir le mot de passe</b>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                {% if errors["password"] %}
                    <label for="password">Mot de passe</label>
                    <input
                        class="form-control is-invalid"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
                    />
                    <small class="text-danger">
                        {{ errors["password"][0] }}
                    </small>
                {% else %}
                    <label for="password">Mot de passe</label>
                    <input
                        class="form-control"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
                    />
                {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                {% if passwordConfirmationError == 'true' %}
                    <label for="confirmPassword">Confirmer le mot de passe</label>
                    <input
                        class="form-control is-invalid"
                        type="password"
                        name="confirmPassword"
                        id="confirmPassword"
                        placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
                    />
                    <small class="text-danger">
                            {{ "Le mot de passe doit être le même dans les deux champs." }}
                    </small>
                {% else %}
                    <label for="confirmPassword">Confirmer le mot de passe</label>
                    <input
                        class="form-control"
                        type="password"
                        name="confirmPassword"
                        id="confirmPassword"
                        placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
                    />
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>