{% extends 'main.html.twig' %}

{% block title %} {{ errorCode }} {% endblock %}
{% block styles %} <link href="/assets/css/error_pages.css" rel="stylesheet" /> {% endblock %}

{% block main_content %}
    <main>
        <div class="message">
            <strong>{{ errorCode }}</strong>
            <p class="title text-warning">LOOKS LIKE YOU ARE LOST IN THE SPACE</p>
            <p class="message-text">
                {{ message }}
            </p>
            <a class="btn btn-warning" href="/" role="button">Accueil</a>
        </div>
    </main>
  
    <div class="box-astronaut">
        <img src="/assets/img/astronaut.svg" alt="astronaut" />
    </div>
{% endblock %}
