{% extends "main.html.twig" %} {% block title %} Connexion {% endblock %} {% block main_content %}
<main class="bg-dark">
    {% if get.error is defined %}
    <div class="container position-fixed fixed-bottom my-5 p-5">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Identifiants incorrects!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endif %}
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-3">Connexion</h3>
                                    {% if get.error is defined %} 
                                    <small class="text-danger my-3">
                                        L'email ou le mot de passe fourni est incorrect.
                                    </small>     
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <form action="/redirect" method="POST">
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmail">Email</label>
                                            {% if get.error is not defined %}
                                                <input class="form-control py-4" id="inputEmail" name="inputEmail" type="email" placeholder="exemple@gmail.com" />
                                            {% else %}
                                                <input class="form-control py-4 is-invalid" id="inputEmail" name="inputEmail" type="email" value="{{ get.email }}" />
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Mot de passe</label>
                                            <input
                                                class="form-control py-4"
                                                id="inputPassword"
                                                name="inputPassword"
                                                type="password"
                                                placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="rememberPasswordCheck" name="rememberPasswordCheck" type="checkbox" />
                                                <label class="custom-control-label" for="rememberPasswordCheck" name="rememberPasswordCheck">Se souvenir de moi</label>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <input type="submit" value="Se connecter" name="login" class="btn btn-primary ml-auto" />
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-3 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Projet PHP 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</main>
{% endblock %}
