@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap");

body {
    background: url("/assets/img/overlay_stars.svg") left top repeat, linear-gradient(to right bottom, #0f0f0f, #281b61);
    background-size: 400px, auto;
    background-attachment: fixed;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: inherit;
    margin-bottom: 40px;
    font-family: inherit;
}

main {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 0 20px;
    display: flex;
    flex-grow: 1;
}

/* ASTRONAUT */

.box-astronaut {
    animation: move-astronaut 50s infinite linear both alternate;
    will-change: transform;
    position: absolute;
    z-index: -1;
    right: 20%;
    top: 70%;
}

img {
    animation: rotate-astronaut 200s infinite linear both alternate;
    opacity: 0.5;
    width: 150px;
}

@keyframes rotate-astronaut {
    100% {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}

@keyframes move-astronaut {
    100% {
        -webkit-transform: translate(-100px, -100px);
        transform: translate(-100px, -100px);
    }
}

/* MESSAGE */

.message {
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
    display: flex;
    z-index: 2;
}

.message-text {
    margin-bottom: 3rem;
    max-width: 500px;
}

strong {
    text-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
    font-family: Space Mono, monospace;
    font-size: 10rem;
}

p {
    text-align: center;
    font-weight: 500;
}

.title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.message-text,
.title {
    text-shadow: 0 2px 4px rgba(15, 15, 15, 0.2);
}
