/* Select2 */

.select2-container {
    height: calc(1.5em + 0.75rem + 2px) !important;
    outline: none !important;
    padding: 0;
}

.select2-hidden-accessible {
    outline: none !important;
}

.select2-selection {
    height: 100% !important;
    border: none !important;
    outline: none !important;
}

.select2-selection__rendered {
    padding: 0.375rem 0.75rem !important;
    padding-right: 20px !important;
    outline: none !important;
    height: 100% !important;

    align-items: center !important;
    display: flex !important;
}

.select2-selection__arrow {
    height: 100% !important;
    right: 0 !important;
    top: 0 !important;
}

.select2-dropdown {
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    top: -1px !important;
}

.select2-search {
    padding: 0.5rem 0.5rem !important;
}

.select2-search__field {
    border: 1px solid #ced4da !important;
}

.select2-search__field:focus {
    border-color: #80bdff !important;
}

/* Toasts */

.toast {
    position: fixed;
    bottom: 10vh;

    margin-bottom: 0 !important; /* Delete this if you want toasts to be stacked on top of each other */
}

.toast-success .toast-header {
    background-color: #28a745;
    color: white;
}

.toast-error .toast-header {
    background-color: #dc3545;
    color: white;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

table th,
table td {
    border: 1px solid #dee2e6;
}

/* Home page */

#home-img {
    background-image: url("/assets/img/home.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#home-img-floor {
    background-color: #cccccc;
    position: absolute;
    height: 0.4%;
    width: 100%;
    bottom: 0;
}

.navbar-brand, .sb-sidenav-footer, .sb-sidenav-footer div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}