{% extends "main.html.twig" %}

{% block main_content %}
<div class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Bienvenue 
            {{ cookie.admin_firstName is defined ? cookie.admin_firstName : session.firstName }}
        </a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/logout">Se déconnecter</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Administration</div>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Accueil
                        </a>
                        
                        <div class="sb-sidenav-menu-heading">Tables</div>
                        <a class="nav-link" href="/admins">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Administrateurs
                        </a>
                        <a class="nav-link" href="/users">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Utilisateurs
                        </a>
                        <a class="nav-link" href="/questions">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Questions
                        </a>
                        <a class="nav-link" href="/themes">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Themes
                        </a>
                        <a class="nav-link" href="/quizzs">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Quizzs
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Connecté en tant que</div>
                    {{ cookie.admin_firstName is defined ? cookie.admin_firstName : session.firstName }}
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main class="d-flex flex-column align-items-center flex-grow-1">
                {% block content %}
                {% endblock %}
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Projet PHP 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
{% endblock %}