{% extends "layout.html.twig" %}

{% block title %} Themes {% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column align-items-start">

    <div class="d-flex align-items-center justify-content-between w-100">
        <h1 class="mt-4 mb-4">Thèmes</h1>
        {% include 'pagination.html.twig' with {'tableName': 'themes'} %}
    </div>

    <div class="card mb-4 w-100">
        <div class="card-header d-flex align-items-center">
            <i class="fas fa-table mr-2"></i>
            Liste de thèmes
            <a type="button" class="btn btn-success ml-auto" href="/theme/new">Créer</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table m-0" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col" style="min-width: 420px; width: 420px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for theme in themes %}
                        <tr id="tr{{ theme.id }}">
                            <th scope="row"><a href="{{ '/theme/' ~ theme.id }}">{{ theme.id }}</a></th>
                            <td>{{ theme.name }}</td>
                            <td class="text-center">
                                <a href="{{ '/theme/' ~ theme.id }}" type="button" class="btn btn-primary mx-1">Modifier</a>
                                <button class="btn btn-danger mx-1" data-toggle="modal" data-target="#deleteModalCenter{{ theme.id }}">Supprimer</button>
                                <a href="{{ '/questions/1?theme=' ~ theme.id }}" type="button" class="btn btn-success mx-1">Questions associées</a>
                            </td>
                        </tr>
                            {% include 'modals/delete.html.twig' with { 'objectId' : theme.id, 'objectName' : theme.name, 'title' : 'Suppression d\'un thème'} %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="mb-4 ml-auto">
        {% include 'pagination.html.twig' with {'tableName': 'themes'} %}
    </div>
</div>
{% include 'toasts/success.html.twig' %}
{% include 'toasts/error.html.twig' %}  
{% endblock %}

{% block js %}
    <script id="searcher" src="/assets/js/delete.js" data-className="theme"></script>
{% endblock %}
